$black: #000;
$pulse-cart-light: rgba(106, 4, 15, 0.2);
$pulse-cart-dark: rgba(106, 4, 15, 0.55);
$red-light: #D00000;
$red-dark: #6A040F;
$selection: transparent;
$shadow-dark: rgba(0, 0, 0, 0.4);
$shadow-light: rgba(0, 0, 0, 0.2);
$yellow: #FFC107;
$yellow-dark: #FFB000;
$white: #FFF;